@import'theme.scss';
#about .container:nth-child(1){
    // background-image: url('../images/header-web.svg');
    margin: 10px 40px 50px 40px;
    padding: 20px 10px;
    background-color: $color-primary;  
    box-shadow: 0 6px 12px rgb(0 0 0 / 50%);
    @include breakpoint(large) {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin: 5em 10em;}
    h2{
        background-color: $color-background;
        // display: inline;
        color: $color-primary-alt;
        text-align: center;
        width: clamp(200px 200px 600px);
        margin:auto;
        margin: 10px 50px;
        padding: .25em;
        border-radius: 10px;
        @include breakpoint(large) { grid-column: 1/3;}
    }
    p{
        color: white;
        padding: 5px 20px;
    }  
    p:nth-of-type(2), p:nth-of-type(3){
        @include breakpoint(large) {border-left: 1px solid white;}
    }
    a{
        color: inherit;
    }
    blockquote{
        @include breakpoint(large) {padding:0;
        margin:0;}
    }
}
#about .container:nth-child(2){
    // background-image: url('../images/header-web.svg');
    margin: 10px 40px 50px 40px;
    padding: 20px 10px;
    background-color: $color-primary;  
    box-shadow: 0 6px 12px rgb(0 0 0 / 50%);
    @include breakpoint(large) {
        display: grid; 
        grid-template-columns: 1fr 3fr 1fr;
        margin: 5em 10em;}
    h2{
        background-color: $color-background;
        // display: inline;
        color: $color-primary-alt;
        text-align: center;
        width: clamp(200px 200px 600px);
        margin:auto;
        margin: 10px 50px;
        padding: .25em;
        border-radius: 10px;
        @include breakpoint(large) { grid-column: 1/4;}
    }
    p{
        padding: 5px 20px;
        color: white;
        @include breakpoint(large) { grid-column: 2/3;}
    }
    a{
        color: inherit;
    }
    p:nth-of-type(2){
        text-align: center;
        font-size: 1.4em;
    }
    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        padding: 5px 20px; 
        @include breakpoint(large) { grid-column: 1/4;} 
    }
    li{
        color: white;
        padding: 10px;
        margin: 3px 7px;
        border: 1px solid $color-background;
        border-radius: 10px;
        animation: breathe 2s infinite;
    } 
    @keyframes breathe {
        0%, 100% {
            // transform: translateY(0);
        }
        50% {
            transform:scaleX(105%)
        }
    }

}
