@import'theme.scss';
// #contribute .container:nth-child(1), #contribute .container:nth-child(3)
#contribute section.container{
    margin: 10px 40px 50px 40px;
    padding: 20px 10px;
    background-color: $color-primary;  
    box-shadow: 0 6px 12px rgb(0 0 0 / 50%);
    h2, h3{
        background-color: $color-background;
        // display: inline;
        color: $color-primary-alt;
        text-align: center;
        width: clamp(200px 200px 600px);
        margin:auto;
        margin: 10px 50px;
        padding: .25em;
        border-radius: 10px;
    }
    h3{
        background-color: $color-secondary;
        // display: inline;
        color: $color-primary;
        text-align: center;
        width: 200px;
        margin:auto;
        padding: .25em;
        border-radius: 10px;
    }
    p{
        color: white;
        padding: 5px 20px;
    }  
    a{
        color: inherit;
    }
    li{
        color: white;
        list-style: none;
        padding-left: 3em;
        padding-right: 3em;
    }
    li:nth-child(1):before{
        content: '01.';
        font-family: 'Permanent Marker', cursive;
        margin-left: -1.6em;
        font-size: 2em;
        padding: 3px;
    }
    li:nth-child(2):before{
        content: '02.';
        font-family: 'Permanent Marker', cursive;
        margin-left: -1.9em;
        font-size: 2em;
        padding: 3px;
    }li:nth-child(3):before{
        content: '03.';
        font-family: 'Permanent Marker', cursive;
        margin-left: -1.8em;
        font-size: 2em;
        padding: 3px;
    }li:nth-child(4):before{
        content: '04.';
        font-family: 'Permanent Marker', cursive;
        margin-left: -1.8em;
        font-size: 2em;
        padding: 3px;
    }
}