$footer-break: 600px;

html > body > footer{
    background-color: rgb(0,0,0,0.75);
    color: white;
    border-radius: 5px;
    box-shadow: 0px, 10px, 0px, 0px;
    padding: 5px;
}
html> body> footer > div > p > a {
    color: rgb(252, 252, 252);
}
html> body> footer > div > ul > li > a > svg {
width:13px;
}

html> body> footer > div > ul > li > a{
    text-decoration: none;
    color: white;
}

html> body> footer > div > ul > li {
    list-style: none;
    width: auto;
    margin: 0;
    text-align: center;
    padding: 10px;
}

html > body > footer > div > ul {
    display: block;
    background-color: rgb(255, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    justify-content: center;
    padding: 0;
}

html> body> footer > div > ul > li:hover {
    background-color: rgb(240, 106, 106);
    border-radius: 10px;
}
@mixin breakpoint($break){
    @if $break == large {
        @media (min-width: 600px){@content}
    }
}

@include breakpoint(large){
html> body> footer > div > ul {
display:flex;
background-color: rgb(255, 0, 0, 0.25);
border-radius: 10px;
padding: 10px;
width: 100%;
}
}

