@import "theme";

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 0;
    margin: 0 auto;
    li {
        transition: transform 1s ease-out;
        width: 100vw;
        text-align: center;
    }
    li:hover {
        // transform: translateY(20px);
        background-color: $color-background;
        border-radius: 10px;
    }
    li a {
        text-decoration: none;
        padding: 1em;
        // width: fit-content;
        font-size: 1em;
        color: black;
    }

    li a:hover {
        color: $color-secondary;    
    }

}

@media only screen and (min-width: 650px) {
    nav ul {
        padding-top: 30px;
        display: flex;
        flex-direction: row;
    }
  }