@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Permanent+Marker&display=swap");
h1, h2, h3, h4 {
  font-family: "Permanent Marker", cursive;
}

p, li, a {
  font-family: "Nunito", sans-serif;
}

:root {
  --color-primary: #151614;
  --color-primary-alt: #F8F8F8;
  --color-secondary: #d0d2d2;
  --color-background: #bd1515;
  --color-text: #0f0f0e;
  --color-light: #fff;
  --color-anchor: #151614;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container .link-github span svg {
  width: 13px;
}

:root {
  --color-primary: #151614;
  --color-primary-alt: #F8F8F8;
  --color-secondary: #d0d2d2;
  --color-background: #bd1515;
  --color-text: #0f0f0e;
  --color-light: #fff;
  --color-anchor: #151614;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

header .container h1, header .container h2 {
  text-align: center;
}
header .container h1 {
  padding-top: 100px;
}
header .container h2 {
  font-size: 0.78em;
  float: right;
  margin-right: 10px;
}
header .container .link-github {
  text-decoration: none;
  float: right;
  font-size: 0.78em;
}
header .container p {
  font-size: 0.78em;
  float: right;
  margin-right: 10px;
}
header .container p a {
  text-decoration: none;
}

header {
  background-image: url("/images/header-web.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.skip-link {
  text-decoration: none;
}

.skip-link:before {
  content: url("/images/logo.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  padding-top: 100px;
}
nav ul li a {
  text-decoration: none;
  margin: 5px;
}

:root {
  --color-primary: #151614;
  --color-primary-alt: #F8F8F8;
  --color-secondary: #d0d2d2;
  --color-background: #bd1515;
  --color-text: #0f0f0e;
  --color-light: #fff;
  --color-anchor: #151614;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

#about .container:nth-child(1) {
  margin: 10px 40px 50px 40px;
  padding: 20px 10px;
  background-color: #151614;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
#about .container:nth-child(1) h2 {
  background-color: #bd1515;
  color: #F8F8F8;
  text-align: center;
  width: 200px;
  margin: auto;
  padding: 0.25em;
  border-radius: 10px;
}
#about .container:nth-child(1) p {
  color: white;
  padding: 5px 20px;
}
#about .container:nth-child(1) a {
  color: inherit;
}

#about .container:nth-child(2) {
  margin: 10px 40px 50px 40px;
  padding: 20px 10px;
  background-color: #151614;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
#about .container:nth-child(2) h2 {
  background-color: #bd1515;
  color: #F8F8F8;
  text-align: center;
  width: 200px;
  margin: auto;
  padding: 0.25em;
  border-radius: 10px;
}
#about .container:nth-child(2) p {
  padding: 5px 20px;
  color: white;
}
#about .container:nth-child(2) a {
  color: inherit;
}
#about .container:nth-child(2) p:nth-of-type(2) {
  text-align: center;
  font-size: 1.4em;
}
#about .container:nth-child(2) ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 20px;
}
#about .container:nth-child(2) li {
  color: white;
  padding: 10px;
  margin: 3px 7px;
  border: 1px solid #bd1515;
  border-radius: 10px;
  animation: breathe 2s infinite;
}
@keyframes breathe {
  50% {
    transform: scaleX(105%);
  }
}

:root {
  --color-primary: #151614;
  --color-primary-alt: #F8F8F8;
  --color-secondary: #d0d2d2;
  --color-background: #bd1515;
  --color-text: #0f0f0e;
  --color-light: #fff;
  --color-anchor: #151614;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

#guidelines .container {
  margin: 10px 40px 50px 40px;
  padding: 20px 10px;
  background-color: #151614;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
#guidelines .container h2, #guidelines .container h3 {
  background-color: #bd1515;
  color: #F8F8F8;
  text-align: center;
  width: 200px;
  margin: auto;
  padding: 0.25em;
  border-radius: 10px;
}
#guidelines .container h3 {
  background-color: #d0d2d2;
  color: #151614;
  text-align: center;
  width: 200px;
  margin: auto;
  padding: 0.25em;
  border-radius: 10px;
}
#guidelines .container p {
  color: white;
  padding: 5px 20px;
}
#guidelines .container a {
  color: inherit;
}

:root {
  --color-primary: #151614;
  --color-primary-alt: #F8F8F8;
  --color-secondary: #d0d2d2;
  --color-background: #bd1515;
  --color-text: #0f0f0e;
  --color-light: #fff;
  --color-anchor: #151614;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

#contribute section.container {
  margin: 10px 40px 50px 40px;
  padding: 20px 10px;
  background-color: #151614;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
#contribute section.container h2, #contribute section.container h3 {
  background-color: #bd1515;
  color: #F8F8F8;
  text-align: center;
  width: 200px;
  margin: auto;
  padding: 0.25em;
  border-radius: 10px;
}
#contribute section.container h3 {
  background-color: #d0d2d2;
  color: #151614;
  text-align: center;
  width: 200px;
  margin: auto;
  padding: 0.25em;
  border-radius: 10px;
}
#contribute section.container p {
  color: white;
  padding: 5px 20px;
}
#contribute section.container a {
  color: inherit;
}
#contribute section.container li {
  color: white;
  list-style: none;
  padding-left: 3em;
  padding-right: 3em;
}
#contribute section.container li:nth-child(1):before {
  content: "01.";
  font-family: "Permanent Marker", cursive;
  margin-left: -1.6em;
  font-size: 2em;
  padding: 3px;
}
#contribute section.container li:nth-child(2):before {
  content: "02.";
  font-family: "Permanent Marker", cursive;
  margin-left: -1.9em;
  font-size: 2em;
  padding: 3px;
}
#contribute section.container li:nth-child(3):before {
  content: "03.";
  font-family: "Permanent Marker", cursive;
  margin-left: -1.8em;
  font-size: 2em;
  padding: 3px;
}
#contribute section.container li:nth-child(4):before {
  content: "04.";
  font-family: "Permanent Marker", cursive;
  margin-left: -1.8em;
  font-size: 2em;
  padding: 3px;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 3rem);
}

p {
  font-size: 1.15rem;
}

main {
  background-image: url("../images/body-web.svg");
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

html > body > footer > div > p > a {
  color: black;
}

html > body > footer > div > ul > li > a > svg {
  width: 13px;
}

html > body > footer > div > ul > li > a {
  text-decoration: none;
}

html > body > footer > div > ul > li {
  list-style: none;
  width: auto;
  margin: auto;
}

html > body > footer > div > ul {
  display: flex;
}
